body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#freplay {
  width: 500px
}

#showhidebutton {
  display: block;
  margin-top: 20px
}